<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- gal: 영상 합본 갤러리 저장용. API 30+ 는 MediaStore 라 권한 불필요, API 29 이하만 필요.
         camera_android_camerax 가 같은 permission 을 maxSdkVersion=28 로 선언해서 manifest merger 가 충돌 → tools:replace 로 덮어씀. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:replace="android:maxSdkVersion"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>

    <queries>
        <package android:name="com.kakao.talk" />
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <application
        android:label="tenk_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.flutter.auth.AuthCodeHandlerActivity"
            tools:node="merge">
            <intent-filter android:label="kakao_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kakao${kakaoNativeAppKey}" android:host="oauth" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Impeller 비활성화 (Skia 폴백). 삼성 실기기에서 video_player 외부 텍스처가
             초당 10여 회 깜빡이는 Impeller 렌더링 버그 회피. 디코더/컨트롤러는 정상이고
             텍스처 합성 단계만 깜빡였음 (logcat: 단일 디코더 정상, 화면 전체 아닌 영상만).
             flutter run 의 no-enable-impeller 플래그로 원인 확정. 같은 프로젝트에서 Impeller
             텍스트 깨짐 이슈도 기록됨. Impeller 외부 텍스처 버그가 업스트림에서 고쳐지면 제거 검토. -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
    </application>
</manifest>
